@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");
* {
  font-family: "Montserrat";
}
/* main */
#main {
  background-color: #f5f5f5;
  margin: auto;
  padding: 20px;
  max-width: 1280px;
  height: 695px;
  position: relative;
  border-radius: 10px;
}
h1 {
  margin-top: 20px;
  text-align: center;
}
/* main */

/* Button */
span {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 0px;
  perspective: 1000px;
}
span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
span a:before,
span a:after {
  position: absolute;
  content: "SUBMIT";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after {
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}
span {
  position: absolute;
  right: 100px;
  bottom: 100px;
}
/* Button */

/* Form */
.form {
  font-size: x-large;
}
.form div label {
  display: block;
  text-align: center;
  padding: 20px 20px;
}
input {
  display: block;
  margin: auto;
}

/* Form */
